#app {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
        font-size: 24px;
    }
}

.inner {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;

    .desc {
        white-space: pre-line;
    }

    .canvas {
        border: 1px solid black;
    }
}

.audio_player {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100px;
    background-color: #000;

    .canvas {
        border: 0;
    }
}

.audio_box {
    audio {
        width: 400px;
        background-color: #002d3c;
    }
}
