#app {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

#audio_player {
    margin-top: 32px;
    width: 400px;
    height: 100px;
    background: #000;
}

#audio_box > audio {
    width: 400px;
    background: #002D3C;
    float: left;
}

#03-20 {
    float: left;
}